<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>DvdDataServlet</servlet-name>
        <servlet-class>webContent.DvdDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CdDataServlet</servlet-name>
        <servlet-class>webContent.CdDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebContextServlet</servlet-name>
        <servlet-class>webContent.WebContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DvdDataServlet</servlet-name>
        <url-pattern>/dvdData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CdDataServlet</servlet-name>
        <url-pattern>/cdData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebContextServlet</servlet-name>
        <url-pattern>/webContext</url-pattern>
    </servlet-mapping>
</web-app>