<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Media Catalogue - Catalogue</title>
        <link rel="stylesheet" href="../css/catalogue_styles.css">
        <link rel="stylesheet" href="../css/blue_theme_styles.css" id="blueTheme">
        <link rel="stylesheet" href="../css/red_theme_styles.css" id="redTheme">
        <link rel="stylesheet" href="../css/green_theme_styles.css" id="greenTheme">
        <script type="text/javascript" src="../lib/jquery-3.2.1.min.js" ></script>
        <script type="text/javascript" src="../js/utilities.js"></script>
        <script type="text/javascript" src="../js/catalogue.js"></script>
    </head>
    <body id="catalogueBody" onload="readSettings(), loadEditedItem()">
        <header>
            <a id="logo" href="home.html"><img id="logoImage" src="../../images/MediaCatalogueHeader%5B150%5D.png" alt="Media Catalogue logo"></a>
            <a class="tabs" href="home.html">Home</a>
            <a class="tabs" href="about.html">About</a>
            <a id="activeTab" class="tabs" href="catalogue.html">Catalogue</a>
            <a class="tabs" href="web_settings.html">Web-Settings</a>
        </header>
        <div align="center" onload="drawTable()">
            <form id="selectorForm">
                <legend>Select Item to add to the catalogue:</legend>
                <input id="dvdRadio" onchange="dvdButtonCheck()" type="radio" name="itemSelector" value="dvd" checked><label for="dvdRadio">DVD</label>
                <input id="cdRadio" onchange="cdButtonCheck()" type="radio" name="itemSelector" value="cd"><label for="cdRadio">CD</label>
            </form>
            <form name="dvdObject" id="dvdForm" >
                <legend>Edit DVD Information:</legend>
                <label for="dvdTitle">Title: </label><input id="dvdTitle" name="dvdTitle" value="" type="text" required autofocus><br>
                <label for="dvdGenre">Genre: </label><input id="dvdGenre" name="dvdGenre" value="" type="text" required><br>
                <label for="dvdDuration">Duration: </label><input id="dvdDuration" name="dvdDuration" value="" type="text" required><br>
                <label for="leadActor">Lead Actor: </label><input id="leadActor" name="leadActor" value="" type="text" required><br>
                <label for="leadActress">Lead Actress: </label><input id="leadActress" name="leadActress" value="" type="text" required><br>
                <input  type="button" onclick="saveNewDVDItem()" value="Save">
            </form>
            <form name="cdObject" id="cdForm" style="display:none">
                <legend>Edit CD Information:</legend>
                <label for="cdTitle">Title: </label><input id="cdTitle" name="cdTitle" value="" type="text" required autofocus><br>
                <label for="cdGenre">Genre: </label><input id="cdGenre" name="cdGenre" value="" type="text" required><br>
                <label for="cdDuration">Duration: </label><input id="cdDuration" name="cdDuration" value="" type="text" required><br>
                <label for="tracks">No. of Tracks: </label><input id="tracks" name="tracks" value="" type="number" min="1" required><br>
                <label for="artists">Contributing artists: </label><textarea id="artists" name="artists" required></textarea><br>
                <input type="button" onclick="saveNewCDItem()" value="Save">
            </form>
            <h2 id="success" align="center" style="display: none">You have successfully saved the Item</h2>
            <h2 id="error" align="center" style="display: none">There was an error saving the Item</h2>
        </div>
        <footer>
            <h6 id="footerLabel">&copy 2017 Media Catalogue</h6>
        </footer>
    </body>
</html>