<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Media Catalogue - Web-Settings</title>
        <link rel="stylesheet" href="../css/web_settings_styles.css">
        <link rel="stylesheet" href="../css/blue_theme_styles.css" id="blueTheme">
        <link rel="stylesheet" href="../css/red_theme_styles.css" id="redTheme">
        <link rel="stylesheet" href="../css/green_theme_styles.css" id="greenTheme">
        <script type="text/javascript" src="../lib/jquery-3.2.1.min.js" ></script>
        <script src="../js/utilities.js"></script>
        <script src="../js/web_settings.js"></script>
    </head>
    <body  onload="readSettings()">
        <header>
            <a id="logo" href="home.html"><img id="logoImage" src="../../images/MediaCatalogueHeader%5B150%5D.png" alt="Media Catalogue logo"></a>
            <a class="tabs" href="home.html">Home</a>
            <a class="tabs" href="about.html">About</a>
            <a class="tabs" href="catalogue.html">Catalogue</a>
            <a id="activeTab" class="tabs" href="web_settings.html">Web-Settings</a>
        </header>
        <div align="center">
            <form id="themesForm" action="">
                <legend>Adjust Themes: </legend><br>
                <label for="colorSelector">Background Colour:</label>
                <select id="colorSelector" onchange="changeThemeColor()">
                    <option name="color" id="green" value="green">Green</option>
                    <option name="color" id="blue" value="blue">Blue</option>
                    <option name="color" id="red" value="red">Red</option>
                </select> <br>
                <label for="fontSelector">Font Options:</label>
                <select id="fontSelector" onchange="changeFont()">
                    <option name="fonts" value="sans-serif">Sans-Serif</option>
                    <option name="fonts" value="cursive">Cursive</option>
                    <option name="fonts" value="serif">Serif</option>
                </select> <br>
                <input type="button" onclick="saveWebSettings()" value="Submit">
            </form>
        </div>
        <footer>
            <h6 id="footerLabel">&copy 2017 Media Catalogue</h6>
        </footer>
    </body>
</html>