div {
    position: relative;
    left: 30%;
    right: 30%;
    width: max-content;
}


table, thead, tbody, th, td {
    text-align: center;
    color: white;
    border: 1.5px solid white;
}

th, td {
    padding: 5px;
    text-align: left;
}