<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Media Catalogue - Home</title>
        <link rel="stylesheet" href="../../../src/views/css/home_styles.css">
        <link rel="stylesheet" href="../../../src/views/css/blue_theme_styles.css" id="blueTheme">
        <link rel="stylesheet" href="../../../src/views/css/red_theme_styles.css" id="redTheme">
        <link rel="stylesheet" href="../../../src/views/css/green_theme_styles.css" id="greenTheme">
        <script src="../../../src/views/js/utilities.js"></script>
        <script src="../../../src/views/js/home.js"></script>
    </head>
    <body onload="readSettings(), drawTable()">
        <header>
            <a id="logo" href="home.html"><img id="logoImage" src="../../../images/MediaCatalogueHeader[150].png" alt="Media Catalogue logo"></a>
            <a id="activeTab" class="tabs" href="home.html">Home</a>
            <a class="tabs" href="about.html">About</a>
            <a class="tabs" href="catalogue.html">Catalogue</a>
            <a class="tabs" href="web_settings.html">Web-Settings</a>
        </header>   
            <div align="center">
                <h1>Welcome to your Media Catalogue</h1>
                <h1>Please select which item to display</h1>
                <table id="dvdTable" style="display:none">
                    <legend id="dvdTableHeader" style="display:none">DVD table</legend>
                    <thead>
                        <tr align="center">
                            <th>Title<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                            <th>Genre<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                            <th>Duration<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                            <th>Lead Actor<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                            <th>Lead Actress<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <table id="cdTable" style="display:none">
                    <legend id="cdTableHeader" style="display:none">CD table</legend>
                    <thead>
                        <tr>
                            <th>Title<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                            <th>Genre<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                            <th>Duration<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                            <th>No. of Tracks<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                            <th>Contributing Artists<img class="sortIcon" src="../../../images/SortButtonIcon.png"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button onclick="displayDVDTable()" id="displayDVDButton" class="button" type="button" name="DVDs">DVDs</button>
            <button onclick="displayCDTable()" id="displayCDButton" class="button" type="button" name="CDs">CDs</button>
        </div>
        <footer>
            <h6 id="footerLabel">&copy 2017 Media Catalogue</h6>
        </footer>
    </body>
</html>